<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-store">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/auth/sign-in-page/style/reset.css}">
    <link rel="stylesheet" th:href="@{/auth/sign-in-page/style/style.css}">
    <title>Log in Account</title>
</head>

<body class="body">
    <header class="header">
        <a class="header__logo logo" th:href="@{/homepage-guest}">
            <img th:src="@{/auth/sign-in-page/img/icon/nav_icon/Storefront.svg}" alt="logo">
            <nav>VIPA</nav>
        </a>
        <div class="header__navigation">
            <div class="header__profile">
                <div class="registration__button registration">
                    <img th:src="@{/auth/sign-in-page/img/icon/nav_icon/User.svg}" alt="User">
                    <p class="header__profile-title">Меню</p>
                    <div class="header__links">
                        <!-- <ath:href="@{#" class="link">Profile</a> -->
                        <a th:href="@{/auth/sign-in}" class="link">Войти</a>
                        <a th:href="@{/auth/sign-up}" class="link">Регистрация</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="log-in wrapper container">
        <div class="log-in__title title">
            <p>Войти в аккаунт</p>
        </div>
        <div class="log-in__text text">
            <p>Добро пожаловать! Введите свои данные и начните торговлю!</p>
        </div>
        <div class="log-in__form">
            <form th:action="@{/auth/sign-in}" th:object="${signInDto}" method="post" class="log-in__form-form form__input">
                <input type="email" th:field="*{username}" placeholder="Почта" class="form__email form__input" required>
                <input type="text" th:field="*{password}" placeholder="Пароль" class="form__password form__input" required>
                <button type="submit" class="form__button">
                    Войти
                </button>
            </form>
        </div>
    </div>

    <footer class="footer">
        <div class="footer__parts wrapper">
            <div class="footer__part part1">
                <a th:href="@{/homepage-guest}" class="footer__title logo">
                    <img th:src="@{/auth/sign-in-page/img/icon/nav_icon/Storefront.svg}" alt="logo">
                    <nav>VIPA</nav>
                </a>
                <p class="footer__text">

                <nav>Присоединяйтесь к нашему сообществу</nav>
                <div class="social">
                    <a th:href="@{null}"><img th:src="@{/auth/sign-in-page/img/icon/nav_icon/DiscordLogo.svg}" alt="discord"></a>
                    <a th:href="@{null}"><img th:src="@{/auth/sign-in-page/img/icon/nav_icon/YoutubeLogo.svg}" alt="youtube"></a>
                    <a th:href="@{null}"><img th:src="@{/auth/sign-in-page/img/icon/nav_icon/TwitterLogo.svg}" alt="twitter"></a>
                    <a th:href="@{null}"><img th:src="@{/auth/sign-in-page/img/icon/nav_icon/InstagramLogo.svg}" alt="instagram"></a>
                </div>
                </p>
            </div>
            <div class="footer__part part3">
                <div class="footer__title">
                    <p>Присоединяйтесь к нам</p>
                </div>
                <p class="footer__text">
                    Получайте эксклюзивные акции и обновления прямо в свой почтовый ящик.
                </p>
                <a th:href="@{/auth/sign-up}" class="footer__registration registration">
                    <img th:src="@{/auth/sign-in-page/img/icon/RocketLaunch.svg}" alt="rocket">
                    <p>Начать</p>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>