<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{style/reset.css}">
    <link rel="stylesheet" th:href="@{/auth/sign-in-page/style/style.css}">
    <title>Log in Account</title>
</head>

<body class="body">
    <header class="header">
        <a class="header__logo logo" th:href="@{/homepage}">
            <img th:src="@{/auth/sign-in-page/img/icon/nav_icon/Storefront.svg}" alt="logo">
            <nav>VIPA</nav>
        </a>
        <div class="header__navigation">
            <!-- <a href="#" class="header__navigation-item">Marketplace</a>
            <a href="#" class="header__navigation-item">Chating</a>
            <a href="#" class="header__navigation-item">Cart</a> -->
            <div class="header__profile">
                <div class="registration__button registration">
                    <img src="img/icon/nav_icon/User.svg" alt="User">
                    <p class="header__profile-title">Меню</p>
                    <div class="header__links">
                        <!-- <a href="#" class="link">Profile</a> -->
                        <a href="log_in.html" class="link">Войти</a>
                        <a href="../create_account/create_account.html" class="link">Регистрация</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="log-in wrapper">
        <div class="log-in__title title">
            <p>Войти в аккаунт</p>
        </div>
        <div class="log-in__text text">
            <p>Добро пожаловать! Введите свои данные и начните торговлю!</p>
        </div>
        <div class="log-in__form">
            <form th:action="@{/auth/sign-in}" th:object="${signInDto}" class="log-in__form-form form__input">
                <input type="email" th:field="*{email}" placeholder="Почта" class="form__email form__input" required>
                <input type="text" th:field="*{password}" placeholder="Пароль" class="form__password form__input" required>
                <button type="submit" class="form__button">
                    Войти
                </button>
            </form>
        </div>
    </div>

    <footer class="footer">
        <div class="footer__parts wrapper">
            <div class="footer__part part1">
                <a href="../../../../../../../../Frontend/homepage/homepage.html" class="footer__title logo">
                    <img src="img/icon/nav_icon/Storefront.svg" alt="logo">
                    <nav>VIPA</nav>
                </a>
                <p class="footer__text">

                <nav>Присоединяйтесь к нашему сообществу</nav>
                <div class="social">
                    <a href="#"><img src="img/icon/nav_icon/DiscordLogo.svg" alt="discord"></a>
                    <a href="#"><img src="img/icon/nav_icon/YoutubeLogo.svg" alt="youtube"></a>
                    <a href="#"><img src="img/icon/nav_icon/TwitterLogo.svg" alt="twitter"></a>
                    <a href="#"><img src="img/icon/nav_icon/InstagramLogo.svg" alt="instagram"></a>
                </div>
                </p>
            </div>
            <!-- <div class="footer__part part2">
                <div class="footer__title">
                    <nav>Explore</nav>
                </div>
                <p class="footer__text">
                <p><a href="#">Marketplace</a></p>
                <p><a href="#">Chating</a></p>
                <p><a href="#">Cart</a></p>
                </p>
            </div> -->
            <div class="footer__part part3">
                <div class="footer__title">
                    <p>Присоединяйтесь к нам</p>
                </div>
                <p class="footer__text">
                    Получайте эксклюзивные акции и обновления прямо в свой почтовый ящик.
                </p>
                <a href="create_account.html" class="footer__registration registration">
                    <img src="img/icon/RocketLaunch.svg" alt="rocket">
                    <p>Начать</p>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>