<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-store">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/common/homepage-guest/style/reset.css}">
    <link rel="stylesheet" th:href="@{/common/homepage-guest/style/style.css}">
    <title>Homepage</title>
</head>

<body class="body">
    <header class="header">
        <a class="header__logo logo" th:href="@{/homepage-guest}">
            <img th:src="@{common/homepage-guest/img/icon/nav_icon/Storefront.svg}" alt="logo">
            <nav>VIPA</nav>
        </a>
        <div class="header__navigation">
            <a th:href="@{/auth/sign-in}" class="header__navigation-item">Войти</a>
            <a th:href="@{/auth/sign-up}" class="header__navigation-item">Регистрация</a>
            <div class="header__profile">
                <div class="registration__button registration">
                    <img th:src="@{common/homepage-guest/img/icon/nav_icon/User.svg}" alt="User">
                    <p class="header__profile-title">Меню</p>
                    <div class="header__links">
                        <a th:href="@{/auth/sign-in}" class="link">Войти</a>
                        <a th:href="@{/auth/sign-up}" class="link">Регистрация</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main wrapper container">
        <div class="main__info">
            <h1 class="main__title">
                Место хороших сделок
            </h1>
            <p class="main__text text">
            <nav>Интернет - магазин для ваших товаров</nav>
            <nav>Найдите более миллиона пользователей, заинтересованных в ваших товарах</nav>
            </p>
            <div class="main__button">
                <a th:href="@{/auth/sign-up}" class="registration">
                    <img th:src="@{common/homepage-guest/img/icon/RocketLaunch.svg}" alt="rocket">
                    <p>Начать</p>
                </a>
            </div>
            <div class="main__characteristic">
                <div class="main__characteristic-item">
                    <p class="haracteristic__number">600M+</p>
                    <p class="haracteristic__text">Капитализация</p>
                </div>
                <div class="main__characteristic-item">
                    <p class="haracteristic__number">15M+</p>
                    <p class="haracteristic__text">Объявлений</p>
                </div>
                <div class="main__characteristic-item">
                    <p class="haracteristic__number">3M+</p>
                    <p class="haracteristic__text">Пользователей</p>
                </div>
            </div>
        </div>
        <div class="main__image">
            <img th:src="@{common/homepage-guest/img/image_/photo_2024-11-05_20-01-48.jpg}" alt="sale__img">
        </div>
    </div>
    <div class="how-work wrapper">
        <div class="how-work__title title">
            <p>Как это работает</p>
        </div>
        <div class="how-work__text text">
            <p>Узнайте, как начать</p>
        </div>
        <div class="how-work__cards">
            <div class="how-work__card">
                <img th:src="@{common/homepage-guest/img/icon/Icon.svg}" alt="wallet" class="card__img">
                <p class="card__title">Регистрируйтесь</p>
                <p class="card__text">Создайте и подключите свой аккаунт к VIPA, нажав на кнопку "Регистрация".</p>
            </div>
            <div class="how-work__card">
                <img th:src="@{common/homepage-guest/img/icon/Icon-1.svg}" alt="wallet" class="card__img">
                <p class="card__title">Создайте объявление</p>
                <p class="card__text">Загрузите фотографию товара. Добавьте описание, контактные данные, желаемую цену.
                </p>
            </div>
            <div class="how-work__card">
                <img th:src="@{common/homepage-guest/img/icon/Icon-2.svg}" alt="wallet" class="card__img">
                <p class="card__title">Начните торговать</p>
                <p class="card__text">Выберите категорию настройте фильтры объявлений. Торгуйтесь, продая свои
                    товары или покупая желаемое у других.</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer__parts wrapper">
            <div class="footer__part part1">
                <a th:href="@{/homepage-guest}" class="footer__title logo">
                    <img th:src="@{common/homepage-guest/img/icon/nav_icon/Storefront.svg}" alt="logo">
                    <nav>VIPA</nav>
                </a>
                <p class="footer__text">
                <nav>Присоединяйтесь к нашему сообществу</nav>
                <div class="social">
                    <a th:href="@{null}"><img th:src="@{common/homepage-guest/img/icon/nav_icon/DiscordLogo.svg}" alt="discord"></a>
                    <a th:href="@{null}"><img th:src="@{common/homepage-guest/img/icon/nav_icon/YoutubeLogo.svg}" alt="youtube"></a>
                    <a th:href="@{null}"><img th:src="@{common/homepage-guest/img/icon/nav_icon/TwitterLogo.svg}" alt="twitter"></a>
                    <a th:href="@{null}"><img th:src="@{common/homepage-guest/img/icon/nav_icon/InstagramLogo.svg}" alt="instagram"></a>
                </div>
                </p>
            </div>
            <div class="footer__part part3">
                <div class="footer__title">
                    <p>Присоединяйтесь к нам</p>
                </div>
                <p class="footer__text">
                    Получайте эксклюзивные акции и обновления прямо в свой почтовый ящик.
                </p>
                <a th:href="@{/auth/sign-up}" class="footer__registration registration">
                    <img th:src="@{common/homepage-guest/img/icon/RocketLaunch.svg}" alt="rocket">
                    <p>Начать</p>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>