<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-store">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{common/homepage-client/style/reset.css}">
    <link rel="stylesheet" th:href="@{common/homepage-client/style/style.css}">
    <title>Homepage</title>
</head>

<body class="body">
<header class="header">
    <a class="header__logo logo" th:href="@{/homepage-client}">
        <img th:src="@{/common/homepage-client/img/icon/nav_icon/Storefront.svg}" alt="logo">
        <nav>VIPA</nav>
    </a>
    <div class="header__navigation">
        <a th:href="@{/dialogs/list}" class="header__navigation-item">Чаты</a>
        <a th:href="@{/favorites}" class="header__navigation-item">Избранное</a>
        <a th:href="@{null}" class="header__navigation-item">Уведомления</a>
        <a th:href="@{/cart}" class="header__navigation-item">Корзина</a>
        <a th:href="@{/orders/list}" class="header__navigation-item">Заказы</a>
        <a th:href="@{/posts/new}" class="header__navigation-item header__navigation-item-last">
            <p>Подать объявление</p>
        </a>
        <div class="header__profile">
            <div class="registration__button registration">
                <img th:src="@{/client/edit-client-page/img/icon/nav_icon/User.svg}" alt="User">
                <p class="header__profile-title">Меню</p>
                <div class="header__links">
                    <a th:href="@{/clients/{clientId}(clientId=${#authentication.principal.id})}"
                       class="link">Профиль</a>
                    <a th:href="@{/dialogs/list}" class="link">Чаты</a>
                    <a th:href="@{/favorites}" class="link">Избранное</a>
                    <a th:href="@{null}" class="link">Уведомления</a>
                    <a th:href="@{/cart}" class="link">Корзина</a>
                    <a th:href="@{/orders/list}" class="link">Заказы</a>
                    <form th:action="@{/auth/sign-out}" method="post" class="link">
                        <button type="submit">Выйти из аккаунта</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
<form class="search wrapper">
    <div class="search__input">
        <input th:name="postTitlePattern" type="text" placeholder="Поиск">
    </div>
    <div class="search__button">
        <button th:href="@{/posts/catalog/search}" type="submit">
            <p>Найти</p>
            <img th:src="@{/common/homepage-client/img/icon/icons8-поиск.svg}" alt="search">
        </button>
    </div>
</form>
<div class="posts wrapper">
    <div class="posts__title title">
        <p>Часто просматриваемые объявления</p>
    </div>
    <div th:each="post : ${posts}" class="posts__items">
        <a th:href="@{/posts/{postId}(postId=${post.getId()})}" class="posts__item">
            <div class="posts__item-img">
                <img th:src="${post.getCoverImagePath()}">
            </div>
            <div class="posts__item-info">
                <div class="posts__item-title">
                    <p th:text="${post.getTitle()}"/>
                </div>
                <div class="posts__item-author">
                    <p th:text="${post.getAuthor().getName() + ' ' + post.getAuthor().getSurname()}"/>
                </div>
                <div class="posts__item-price">
                    <p th:text="${post.getPrice()}"/>
                    <p>рублей</p>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="posts__button wrapper">
    <a th:href="@{null}">
        <p>Посмотреть ещё</p>
    </a>
</div>
</div>
<div class="category wrapper">
    <div class="category__title title">
        <p>Категории</p>
    </div>
    <div th:each="category : ${categories}" class="category__buttons">
        <a th:href="@{/posts/catalog/{categoryId}(categoryId=${category.getId()})}" class="category__item">
            <img th:src="${category.getImagePath()}" alt="art"
            class="category__item-image">
            <p th:text="${category.getName()}" class="category__item-title"></p>
        </a>
    </div>
</div>
<div class="how-work wrapper">
    <div class="how-work__title title">
        <p>Как это работает</p>
    </div>
    <div class="how-work__text text">
        <p>Узнайте, как начать</p>
    </div>
    <div class="how-work__cards">
        <div class="how-work__card">
            <img th:src="@{/common/homepage-client/img/icon/Icon.svg}" alt="wallet" class="card__img">
            <p class="card__title">Регистрируйтесь</p>
            <p class="card__text">Создайте и подключите свой аккаунт к VIPA, нажав на кнопку "Регистрация".</p>
        </div>
        <div class="how-work__card">
            <img th:src="@{/common/homepage-client/img/icon/Icon-1.svg}" alt="wallet" class="card__img">
            <p class="card__title">Создайте объявление</p>
            <p class="card__text">Загрузите фотографию товара. Добавьте описание, контактные данные, желаемую цену.
            </p>
        </div>
        <div class="how-work__card">
            <img th:src="@{/common/homepage-client/img/icon/Icon-2.svg}" alt="wallet" class="card__img">
            <p class="card__title">Начните торговать</p>
            <p class="card__text">Выберите категорию настройте фильтры объявлений. Торгуйтесь, продая свои
                товары или покупая желаемое у других.</p>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="footer__parts wrapper">
        <div class="footer__part part1">
            <a th:href="@{/homepage-client}" class="footer__title logo">
                <img th:src="@{/common/homepage-client/img/icon/nav_icon/Storefront.svg}" alt="logo">
                <nav>VIPA</nav>
            </a>
            <p class="footer__text">
            <nav>Присоединяйтесь к нашему сообществу</nav>
            <div class="social">
                <a th:href="@{null}"><img th:src="@{/common/homepage-client/img/icon/nav_icon/DiscordLogo.svg}"
                                          alt="discord"></a>
                <a th:href="@{null}"><img th:src="@{/common/homepage-client/img/icon/nav_icon/YoutubeLogo.svg}"
                                          alt="youtube"></a>
                <a th:href="@{null}"><img th:src="@{/common/homepage-client/img/icon/nav_icon/TwitterLogo.svg}"
                                          alt="twitter"></a>
                <a th:href="@{null}"><img th:src="@{/common/homepage-client/img/icon/nav_icon/InstagramLogo.svg}"
                                          alt="instagram"></a>
            </div>
            </p>
        </div>
        <div class="footer__part part2">
            <div class="footer__title">
                <nav>Навигация</nav>
            </div>
            <p class="footer__text">
            <p><a th:href="@{/dialogs/list}">Чаты</a></p>
            <p><a th:href="@{/favorites}">Избранное</a></p>
            <p><a th:href="@{null}">Уведомления</a></p>
            <p><a th:href="@{/cart}">Корзина</a></p>
            <p><a th:href="@{/orders/list}">Заказы</a></p>
            </p>
        </div>
        <div class="footer__part part3">
            <div class="footer__title">
                <p>Присоединяйтесь к нам</p>
            </div>
            <p class="footer__text">
                Получайте эксклюзивные акции и обновления прямо в свой почтовый ящик.
            </p>
        </div>
    </div>
</footer>
</body>

</html>