<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/style.css">
    <title>Homepage</title>
</head>

<body class="body">
    <header class="header">
        <a class="header__logo logo" href="homepage.html">
            <img src="img/icon/nav_icon/Storefront.svg" alt="logo">
            <nav>VIPA</nav>
        </a>
        <div class="header__navigation">
            <a href="#" class="header__navigation-item">Чаты</a>
            <a href="#" class="header__navigation-item">Избранные</a>
            <a href="#" class="header__navigation-item">Уведомления</a>
            <a href="#" class="header__navigation-item">Корзина</a>
            <a href="#" class="header__navigation-item">Заказы</a>
            <a href="#" class="header__navigation-item header__navigation-item-last">
                <p>Подать объявление</p>
            </a>
            <div class="header__profile">
                <div class="registration__button registration">
                    <img src="img/icon/nav_icon/User.svg" alt="User">
                    <p class="header__profile-title">Меню</p>
                    <div class="header__links">
                        <a href="#" class="link">Профиль</a>
                        <a href="#" class="link">Чаты</a>
                        <a href="#" class="link">Избранные</a>
                        <a href="#" class="link">Уведомления</a>
                        <a href="#" class="link">Корзина</a>
                        <a href="#" class="link">Заказы</a>
                        <!-- <a href="../log_in/log_in.html" class="link">Войти</a>
                        <a href="../create_account/create_account.html" class="link">Регистрация</a> -->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <form class="search wrapper">
        <div class="search__input">
            <input type="text" placeholder="Поиск">
        </div>
        <div class="search__button">
            <button href="#" type="submit">
                <p>Найти</p>
                <img src="/img/icon/icons8-поиск.svg" alt="search">
            </button>
        </div>
    </form>

    <div class="posts wrapper">
        <div class="posts__title title">
            <p>Часто просматриваемые объявления</p>
        </div>
        <div class="posts__items">
            <div class="posts__item">
                <div class="posts__item-img">
                    <img src="img/image_/Primary%20Photo%20Placeholder-1.png" alt="">
                </div>
                <div class="posts__item-info">
                    <div class="posts__item-title">
                        <p>Название объявления</p>
                    </div>
                    <div class="posts__item-author">
                        <p>Имя автора</p>
                    </div>
                    <div class="posts__item-price">
                        <p>
                            100
                        </p>
                        <p>
                            рублей
                        </p>
                    </div>
                </div>
            </div>
            <div class="posts__item">
                <div class="posts__item-img">
                    <img src="img/image_/Primary%20Photo%20Placeholder-2.png" alt="">
                </div>
                <div class="posts__item-info">
                    <div class="posts__item-title">
                        <p>Название объявления</p>
                    </div>
                    <div class="posts__item-author">
                        <p>Имя автора</p>
                    </div>
                    <div class="posts__item-price">
                        <p>
                            100
                        </p>
                        <p>
                            рублей
                        </p>
                    </div>
                </div>
            </div>
            <div class="posts__item">
                <div class="posts__item-img">
                    <img src="img/image_/Primary%20Photo%20Placeholder.png" alt="">
                </div>
                <div class="posts__item-info">
                    <div class="posts__item-title">
                        <p>Название объявления</p>
                    </div>
                    <div class="posts__item-author">
                        <p>Имя автора</p>
                    </div>
                    <div class="posts__item-price">
                        <p>
                            100
                        </p>
                        <p>
                            рублей
                        </p>
                    </div>
                </div>
            </div>
            <div class="posts__item">
                <div class="posts__item-img">
                    <img src="img/image_/Primary%20Photo%20Placeholder.png" alt="">
                </div>
                <div class="posts__item-info">
                    <div class="posts__item-title">
                        <p>Название объявления</p>
                    </div>
                    <div class="posts__item-author">
                        <p>Имя автора</p>
                    </div>
                    <div class="posts__item-price">
                        <p>
                            100
                        </p>
                        <p>
                            рублей
                        </p>
                    </div>
                </div>
            </div>
            <div class="posts__item">
                <div class="posts__item-img">
                    <img src="img/image_/Primary%20Photo%20Placeholder-1.png" alt="">
                </div>
                <div class="posts__item-info">
                    <div class="posts__item-title">
                        <p>Название объявления</p>
                    </div>
                    <div class="posts__item-author">
                        <p>Имя автора</p>
                    </div>
                    <div class="posts__item-price">
                        <p>
                            100
                        </p>
                        <p>
                            рублей
                        </p>
                    </div>
                </div>
            </div>
            <div class="posts__item">
                <div class="posts__item-img">
                    <img src="img/image_/Primary%20Photo%20Placeholder-2.png" alt="">
                </div>
                <div class="posts__item-info">
                    <div class="posts__item-title">
                        <p>Название объявления</p>
                    </div>
                    <div class="posts__item-author">
                        <p>Имя автора</p>
                    </div>
                    <div class="posts__item-price">
                        <p>
                            100
                        </p>
                        <p>
                            рублей
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="posts__button">
            <a href="#">
                <p>Посмотреть ещё</p>
            </a>
        </div>
    </div>
    </div>
    <div class="category wrapper">
        <div class="category__title title">
            <p>Категории</p>
        </div>
        <div class="category__buttons">
            <a href="#" class="category__item">
                <img src="img/icon/PaintBrush.svg" alt="art" class="category__item-image">
                <p class="category__item-title">Искусство</p>
            </a>
            <a href="#" class="category__item">
                <img src="img/icon/Swatches.svg" alt="collectibles" class="category__item-image">
                <p class="category__item-title">Учеба</p>
            </a>
            <a href="#" class="category__item">
                <img src="img/icon/MusicNotes.svg" alt="music" class="category__item-image">
                <p class="category__item-title">Музыка</p>
            </a>
            <a href="#" class="category__item">
                <img src="img/icon/Camera.svg" alt="photography" class="category__item-image">
                <p class="category__item-title">Техника</p>
            </a>
            <a href="#" class="category__item">
                <img src="img/icon/VideoCamera.svg" alt="video" class="category__item-image">
                <p class="category__item-title">Что-то</p>
            </a>
            <a href="#" class="category__item">
                <img src="img/icon/MagicWand.svg" alt="utility" class="category__item-image">
                <p class="category__item-title">Что-то</p>
            </a>
            <a href="#" class="category__item">
                <img src="img/icon/Basketball.svg" alt="sport" class="category__item-image">
                <p class="category__item-title">Спорт</p>
            </a>
            <a href="#" class="category__item">
                <img src="img/icon/Planet.svg" alt="world" class="category__item-image">
                <p class="category__item-title">Что-то</p>
            </a>
        </div>
    </div>
    <div class="how-work wrapper">
        <div class="how-work__title title">
            <p>Как это работает</p>
        </div>
        <div class="how-work__text text">
            <p>Узнайте, как начать</p>
        </div>
        <div class="how-work__cards">
            <div class="how-work__card">
                <img src="img/icon/Icon.svg" alt="wallet" class="card__img">
                <p class="card__title">Регистрируйтесь</p>
                <p class="card__text">Создайте и подключите свой аккаунт к VIPA, нажав на кнопку "Регистрация".</p>
            </div>
            <div class="how-work__card">
                <img src="img/icon/Icon-1.svg" alt="wallet" class="card__img">
                <p class="card__title">Создайте объявление</p>
                <p class="card__text">Загрузите фотографию товара. Добавьте описание, контактные данные, желаемую цену.
                </p>
            </div>
            <div class="how-work__card">
                <img src="img/icon/Icon-2.svg" alt="wallet" class="card__img">
                <p class="card__title">Начните торговать</p>
                <p class="card__text">Выберите категорию настройте фильтры объявлений. Торгуйтесь, продая свои
                    товары или покупая желаемое у других.</p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer__parts wrapper">
            <div class="footer__part part1">
                <a href="homepage.html" class="footer__title logo">
                    <img src="img/icon/nav_icon/Storefront.svg" alt="logo">
                    <nav>VIPA</nav>
                </a>
                <p class="footer__text">
                <nav>Присоединяйтесь к нашему сообществу</nav>
                <div class="social">
                    <a href="#"><img src="img/icon/nav_icon/DiscordLogo.svg" alt="discord"></a>
                    <a href="#"><img src="img/icon/nav_icon/YoutubeLogo.svg" alt="youtube"></a>
                    <a href="#"><img src="img/icon/nav_icon/TwitterLogo.svg" alt="twitter"></a>
                    <a href="#"><img src="img/icon/nav_icon/InstagramLogo.svg" alt="instagram"></a>
                </div>
                </p>
            </div>
            <div class="footer__part part2">
                <div class="footer__title">
                    <nav>Навигация</nav>
                </div>
                <p class="footer__text">
                <p><a href="#">Чаты</a></p>
                <p><a href="#">Избранные</a></p>
                <p><a href="#">Уведомления</a></p>
                <p><a href="#">Корзина</a></p>
                <p><a href="#">Заказы</a></p>
                </p>
            </div>
            <div class="footer__part part3">
                <div class="footer__title">
                    <p>Присоединяйтесь к нам</p>
                </div>
                <p class="footer__text">
                    Получайте эксклюзивные акции и обновления прямо в свой почтовый ящик.
                </p>
                <!-- <a href="../create_account/create_account.html" class="footer__registration registration">
                    <img src="img/icon/RocketLaunch.svg" alt="rocket">
                    <p>Начать</p>
                </a> -->
            </div>
        </div>
    </footer>
</body>

</html>