<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/dialog/dialog-page/style/reset.css">
    <link rel="stylesheet" href="../../static/dialog/dialog-page/style/style.css">
    <title>Chats message</title>
    <script src="../../static/dialog/dialog-page/script/script.js"></script>
</head>

<body class="body">
    <header class="header">
        <a class="header__logo logo" href="homepage.html">
            <img src="../../static/dialog/dialog-page/img/icon/nav_icon/Storefront.svg" alt="logo">
            <nav>VIPA</nav>
        </a>
        <div class="header__navigation">
            <a href="#" class="header__navigation-item">Чаты</a>
            <a href="#" class="header__navigation-item">Избранные</a>
            <a href="#" class="header__navigation-item">Уведомления</a>
            <a href="#" class="header__navigation-item">Корзина</a>
            <a href="#" class="header__navigation-item">Заказы</a>
            <a href="#" class="header__navigation-item header__navigation-item-last">
                <p>Подать объявление</p>
            </a>
            <div class="header__profile">
                <div class="registration__button registration">
                    <img src="../../static/dialog/dialog-page/img/icon/nav_icon/User.svg" alt="User">
                    <p class="header__profile-title">Меню</p>
                    <div class="header__links">
                        <a href="#" class="link">Профиль</a>
                        <a href="#" class="link">Чаты</a>
                        <a href="#" class="link">Избранные</a>
                        <a href="#" class="link">Уведомления</a>
                        <a href="#" class="link">Корзина</a>
                        <a href="#" class="link">Заказы</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="chat-message wrapper">
        <div class="chat-message__title">
            <p class="title">Сообщения</p>
            <p class="chat-message__text">Название объявления</p>
        </div>
        <div class="chat-message__window">
            <div class="window__author-name">
                <img src="../../static/dialog/dialog-page/img/icon/nav_icon/User.svg" alt="">
                <p>Имя врага с которым переписываемся</p>
            </div>
            <div class="window__messages">
                <div class="window__message-my">
                    <p>
                        Мое сообщение
                    </p>
                </div>
                <div class="window__message-companion">
                    <p>
                        Не мое сообщение
                    </p>
                </div>
            </div>
        </div>
        <form class="send wrapper">
            <div class="send__input">
                <input placeholder="Введите сообщение" required>
                <div class="send__button">
                    <button href="#" type="submit">
                        <img src="../../static/dialog/dialog-page/img/icon/send-white-icon.svg" alt="">
                    </button>
                </div>
            </div>
        </form>
    </div>


    <footer class="footer">
        <div class="footer__parts wrapper">
            <div class="footer__part part1">
                <a href="homepage.html" class="footer__title logo">
                    <img src="../../static/dialog/dialog-page/img/icon/nav_icon/Storefront.svg" alt="logo">
                    <nav>VIPA</nav>
                </a>
                <p class="footer__text">
                <nav>Присоединяйтесь к нашему сообществу</nav>
                <div class="social">
                    <a href="#"><img src="../../static/dialog/dialog-page/img/icon/nav_icon/DiscordLogo.svg" alt="discord"></a>
                    <a href="#"><img src="../../static/dialog/dialog-page/img/icon/nav_icon/YoutubeLogo.svg" alt="youtube"></a>
                    <a href="#"><img src="../../static/dialog/dialog-page/img/icon/nav_icon/TwitterLogo.svg" alt="twitter"></a>
                    <a href="#"><img src="../../static/dialog/dialog-page/img/icon/nav_icon/InstagramLogo.svg" alt="instagram"></a>
                </div>
                </p>
            </div>
            <div class="footer__part part2">
                <div class="footer__title">
                    <nav>Навигация</nav>
                </div>
                <p class="footer__text">
                <p><a href="#">Чаты</a></p>
                <p><a href="#">Избранные</a></p>
                <p><a href="#">Уведомления</a></p>
                <p><a href="#">Корзина</a></p>
                <p><a href="#">Заказы</a></p>
                </p>
            </div>
            <div class="footer__part part3">
                <div class="footer__title">
                    <p>Присоединяйтесь к нам</p>
                </div>
                <p class="footer__text">
                    Получайте эксклюзивные акции и обновления прямо в свой почтовый ящик.
                </p>
            </div>
        </div>
    </footer>
</body>

</html>