<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-store">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/dialog/dialogs-page/style/reset.css}">
    <link rel="stylesheet" th:href="@{/dialog/dialogs-page/style/style.css}">
    <title>Chats</title>
    <script th:src="@{/dialog/dialogs-page/script/script.js}"></script>
</head>

<body class="body">
    <header class="header">
        <a class="header__logo logo" th:href="@{/homepage-client}">
            <img th:src="@{/dialog/dialogs-page/img/icon/nav_icon/Storefront.svg}" alt="logo">
            <nav>VIPA</nav>
        </a>
        <div class="header__navigation">
            <a th:href="@{/dialogs/list?dialogType=AS_CUSTOMER}" class="header__navigation-item">Чаты</a>
            <a th:href="@{/favorites}" class="header__navigation-item">Избранное</a>
<!--            <a th:href="@{null}" class="header__navigation-item">Уведомления</a>-->
            <a th:href="@{/cart}" class="header__navigation-item">Корзина</a>
            <a th:href="@{/orders/list}" class="header__navigation-item">Заказы</a>
            <a th:href="@{/posts/new}" class="header__navigation-item header__navigation-item-last">
                <p>Подать объявление</p>
            </a>
            <div class="header__profile">
                <div class="registration__button registration">
                    <img th:src="@{/dialog/dialogs-page/img/icon/nav_icon/User.svg}" alt="User">
                    <p class="header__profile-title">Меню</p>
                    <div class="header__links">
                        <a th:href="@{/clients/{clientId}(clientId=${#authentication.principal.id})}"
                           class="link">Профиль</a>
                        <a th:href="@{/dialogs/list?dialogType=AS_CUSTOMER}" class="link" sec:authorize="hasRole('CLIENT')">Чаты</a>
                        <a th:href="@{/favorites}" class="link" sec:authorize="hasRole('CLIENT')">Избранное</a>
<!--                        <a th:href="@{null}" class="link" sec:authorize="hasRole('CLIENT')">Уведомления</a>-->
                        <a th:href="@{/cart}" class="link" sec:authorize="hasRole('CLIENT')">Корзина</a>
                        <a th:href="@{/orders/list}" class="link" sec:authorize="hasRole('CLIENT')">Заказы</a>
                        <form th:action="@{/auth/sign-out}" method="post" class="button_sign-out" sec:authorize="hasRole('CLIENT')">
                            <button type="submit" class="link">Выйти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="chat wrapper container">
        <div class="chat__title title">
            <p>Ваши переписки</p>
        </div>
        <div class="chat__parts">
            <div th:class="${#strings.toString(param.dialogType) == 'AS_CUSTOMER' ? 'chat\_\_part-checked chat\_\_part' : 'chat\_\_part'}">
                <a th:href="@{/dialogs/list?dialogType=AS_CUSTOMER}" id="chat__part1">Покупаю</a>
            </div>
            <div th:class="${#strings.toString(param.dialogType) == 'AS_SELLER' ? 'chat\_\_part-checked chat\_\_part' : 'chat\_\_part'}">
                <a th:href="@{/dialogs/list?dialogType=AS_SELLER}" id="chat__part2">Продаю</a>
            </div>
        </div>
        <div class="chat__info">
            <div class="chat__companion">
                <p>Собеседник</p>
            </div>
            <div class="chat__post">
                <p>Объявление</p>
            </div>
            <div class="chat__price">
                <p>Цена</p>
            </div>
        </div>
        <div th:each="dialog : ${dialogs}" class="chat__list">
            <a th:href="@{/dialogs/{dialogId}(dialogId=${dialog.getId()})}" class="chat__item">
                <div class="item__companion">
                    <p th:if="${#authentication.principal.id == dialog.getCustomer().getId()}"
                       th:text="${dialog.getPost().getAuthor().getName() + ' ' + dialog.getPost().getAuthor().getSurname()}"></p>
                    <p th:unless="${#authentication.principal.id == dialog.getCustomer().getId()}"
                       th:text="${dialog.getCustomer().getName() + ' ' + dialog.getCustomer().getSurname()}"></p>
                </div>
                <div class="item__post">
                    <p th:text="${dialog.getPost().getTitle()}"></p>
                </div>
                <div class="item__price">
                    <p th:text="${dialog.getPost().getPrice()}"></p>
                </div>
            </a>
        </div>
    </div>

    <footer class="footer">
        <div class="footer__parts wrapper">
            <div class="footer__part part1">
                <a th:href="@{/homepage-client}" class="footer__title logo">
                    <img th:src="@{/dialog/dialogs-page/img/icon/nav_icon/Storefront.svg}" alt="logo">
                    <nav>VIPA</nav>
                </a>
                <p class="footer__text">
                <nav>Присоединяйтесь к нашему сообществу</nav>
                <div class="social">
                    <a th:href="@{null}"><img th:src="@{/dialog/dialogs-page/img/icon/nav_icon/DiscordLogo.svg}" alt="discord"></a>
                    <a th:href="@{null}"><img th:src="@{/dialog/dialogs-page/img/icon/nav_icon/YoutubeLogo.svg}" alt="youtube"></a>
                    <a th:href="@{null}"><img th:src="@{/dialog/dialogs-page/img/icon/nav_icon/TwitterLogo.svg}" alt="twitter"></a>
                    <a th:href="@{null}"><img th:src="@{/dialog/dialogs-page/img/icon/nav_icon/InstagramLogo.svg}" alt="instagram"></a>
                </div>
                </p>
            </div>
            <div class="footer__part part2">
                <div class="footer__title">
                    <nav>Навигация</nav>
                </div>
                <p class="footer__text">
                <p><a th:href="@{/dialogs/list}" sec:authorize="hasRole('CLIENT')">Чаты</a></p>
                <p><a th:href="@{/favorites}" sec:authorize="hasRole('CLIENT')">Избранное</a></p>
<!--                <p><a th:href="@{null}" sec:authorize="hasRole('CLIENT')">Уведомления</a></p>-->
                <p><a th:href="@{/cart}" sec:authorize="hasRole('CLIENT')">Корзина</a></p>
                <p><a th:href="@{/orders/list}" sec:authorize="hasRole('CLIENT')">Заказы</a></p>
                </p>
            </div>
            <div class="footer__part part3">
                <div class="footer__title">
                    <p>Присоединяйтесь к нам</p>
                </div>
                <p class="footer__text">
                    Получайте эксклюзивные акции и обновления прямо в свой почтовый ящик.
                </p>
            </div>
        </div>
    </footer>
</body>

</html>