<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-store">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/client/client-page/style/reset.css}">
    <link rel="stylesheet" th:href="@{/client/client-page/style/style.css}">
    <title>Profile</title>
</head>

<body class="body">
    <header class="header">
        <a class="header__logo logo" th:href="@{/homepage-client}">
            <img th:src="@{/client/client-page/img/icon/nav_icon/Storefront.svg}" alt="logo">
            <nav>VIPA</nav>
        </a>
        <div class="header__navigation">
            <a th:href="@{/dialogs/list}" class="header__navigation-item">Чаты</a>
            <a th:href="@{/favorites}" class="header__navigation-item">Избранное</a>
            <a th:href="@{null}" class="header__navigation-item">Уведомления</a>
            <a th:href="@{/cart}" class="header__navigation-item">Корзина</a>
            <a th:href="@{/orders/list}" class="header__navigation-item">Заказы</a>
            <a th:href="@{/posts/new}" class="header__navigation-item header__navigation-item-last">
                <p>Подать объявление</p>
            </a>
            <div class="header__profile">
                <div class="registration__button registration">
                    <img th:src="@{/cart/cart-page/img/icon/nav_icon/User.svg}" alt="User">
                    <p class="header__profile-title">Меню</p>
                    <div class="header__links">
                        <a th:href="@{/clients/{clientId}(clientId=${#authentication.principal.id})}" class="link">Профиль</a>
                        <a th:href="@{/dialogs/list}" class="link">Чаты</a>
                        <a th:href="@{/favorites}" class="link">Избранное</a>
                        <a th:href="@{null}" class="link">Уведомления</a>
                        <a th:href="@{/cart}" class="link">Корзина</a>
                        <a th:href="@{/orders/list}" class="link">Заказы</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="profile wrapper">
        <div class="profile__title title">
            <p>Профиль</p>
        </div>
        <div class="profile__info">
            <div class="bio__info">
                <div class="bio__data">
                    <p>Личные данные</p>
                </div>
                <div class="bio__name">
                    <p th:text="${client.getName()}">Имя</p>
                </div>
                <div class="bio__surname">
                    <p th:text="${client.getSurname()}">Фамилия</p>
                </div>
                <div class="bio__birthdate">
                    <p th:text="${client.getBirthDate()}">Дата рождения</p>
                </div>
                <div class="bio__email">
                    <p th:text="${client.getEmail()}">Электронная почта</p>
                </div>
                <div class="bio__phone">
                    <p th:text="${client.getPhoneNumber()}">Номер телефона</p>
                </div>
            </div>
            <div class="profile__setting">
                <div class="setting__title">
                    <p>Настройки</p>
                </div>
                <div class="setting__data">
                    <a th:href="@{/clients/edit}">Изменить данные</a>
                </div>
                <div class="setting__delete">
                    <a th:href="@{/clients/delete/{clientId}(clientId=${#authentication.principal.id})}">Удалить профиль</a>
                </div>
            </div>
        </div>
    </div>

    <div class="posts wrapper">
        <div class="posts__title title">
            <p>Мои объявления</p>
        </div>
        <div th:each="post : ${posts}" class="posts__items">
            <div class="posts__item">
                <div class="posts__item-img">
                    <img th:src="@{/client/client-page/img/image_/Primary%20Photo%20Placeholder-1.png}" alt="">
                </div>
                <div class="posts__item-info">
                    <div class="posts__item-title">
                        <p th:text="${post.getTitle()}">Название объявления</p>
                    </div>
                    <div class="posts__item-price">
                        <p th:text="${post.getPrice()}">100</p>
                        <p>рублей</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer__parts wrapper">
            <div class="footer__part part1">
                <a th:href="@{/homepage-client}" class="footer__title logo">
                    <img th:src="@{/client/client-page/img/icon/nav_icon/Storefront.svg}" alt="logo">
                    <nav>VIPA</nav>
                </a>
                <p class="footer__text">
                <nav>Присоединяйтесь к нашему сообществу</nav>
                <div class="social">
                    <a th:href="@{null}"><img th:src="@{/client/client-page/img/icon/nav_icon/DiscordLogo.svg}" alt="discord"></a>
                    <a th:href="@{null}"><img th:src="@{/client/client-page/img/icon/nav_icon/YoutubeLogo.svg}" alt="youtube"></a>
                    <a th:href="@{null}"><img th:src="@{/client/client-page/img/icon/nav_icon/TwitterLogo.svg}" alt="twitter"></a>
                    <a th:href="@{null}"><img th:src="@{/client/client-page/img/icon/nav_icon/InstagramLogo.svg}" alt="instagram"></a>
                </div>
                </p>
            </div>
            <div sec:authentication="principal.id"class="footer__part part2">
                <div class="footer__title">
                    <nav>Навигация</nav>
                </div>
                <p class="footer__text">
                <p><a th:href="@{/dialogs/list}">Чаты</a></p>
                <p><a th:href="@{/favorites}">Избранное</a></p>
                <p><a th:href="@{null}">Уведомления</a></p>
                <p><a th:href="@{/cart}">Корзина</a></p>
                <p><a th:href="@{/orders/list}">Заказы</a></p>
                </p>
            </div>
            <div class="footer__part part3">
                <div class="footer__title">
                    <p>Присоединяйтесь к нам</p>
                </div>
                <p class="footer__text">
                    Получайте эксклюзивные акции и обновления прямо в свой почтовый ящик.
                </p>
            </div>
        </div>
    </footer>
</body>

</html>