<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-store">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/client/edit-client-page/style/reset.css}">
    <link rel="stylesheet" th:href="@{/client/edit-client-page/style/style.css}">
    <title>Change Account Data</title>
    <script th:src="@{/client/edit-client-page/script/script.js}"></script>
</head>

<body class="body">
    <header class="header">
        <a class="header__logo logo" th:href="@{/homepage-client}">
            <img th:src="@{/client/edit-client-page/img/icon/nav_icon/Storefront.svg}" alt="logo">
            <nav>VIPA</nav>
        </a>
        <div class="header__navigation">
            <a th:href="@{/dialogs/list}" class="header__navigation-item">Чаты</a>
            <a th:href="@{/favorites}" class="header__navigation-item">Избранное</a>
            <a th:href="@{null}" class="header__navigation-item">Уведомления</a>
            <a th:href="@{/cart}" class="header__navigation-item">Корзина</a>
            <a th:href="@{/orders/list}" class="header__navigation-item">Заказы</a>
            <a th:href="@{/posts/new}" class="header__navigation-item header__navigation-item-last">
                <p>Подать объявление</p>
            </a>
            <div class="header__profile">
                <div class="registration__button registration">
                    <img th:src="@{/client/edit-client-page/img/icon/nav_icon/User.svg}" alt="User">
                    <p class="header__profile-title">Меню</p>
                    <div class="header__links">
                        <a th:href="@{/clients/{clientId}(clientId=${#authentication.principal.id})}" class="link">Профиль</a>
                        <a th:href="@{/dialogs/list}" class="link">Чаты</a>
                        <a th:href="@{/favorites}" class="link">Избранное</a>
                        <a th:href="@{null}" class="link">Уведомления</a>
                        <a th:href="@{/cart}" class="link">Корзина</a>
                        <a th:href="@{/orders/list}" class="link">Заказы</a>
                        <form th:action="@{/auth/sign-out}" method="post">
                            <button type="submit" class="link">Выйти из аккаунта</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="create wrapper">
        <div class="create__title title">
            <p>Изменить данные</p>
        </div>
        <div class="change__data">
            <div class="old__data">
                <div class="old__data-title">
                    <p>Наименование</p>
                </div>
                <div class="old__data-name">
                    <p>Имя</p>
                </div>
                <div class="old__data-surname">
                    <p>Фамилия</p>
                </div>
                <div class="old__data-birthdate">
                    <p>Дата рожидения</p>
                </div>
                <div class="old__data-phone">
                    <p>Номер телефон</p>
                </div>
                <div class="old__data-email">
                    <p>Электронная почта</p>
                </div>
                <div class="old__data-password">
                    <p>Пароль</p>
                </div>
            </div>
            <div class="create__form">
                <div class="change__data-title">
                    <p>Новые данные</p>
                </div>
                <form th:action="@{/clients/edit}" th:object="${client}" th:method="put" class="create__form-form form__input">
                    <input th:value="${client.getName()}" th:field="*{name}" type="text" placeholder="Имя" class="form__name form__input" required>
                    <input th:value="${client.getSurname()}" th:field="*{surname}" type="text" placeholder="Фамилия" class="form__surname form__input" required>
                    <input th:value="${client.getBirthDate()}" th:field="*{birthDate}" type="date" class="form__birthdate form__input" required>
                    <input th:value="${client.getPhoneNumber()}" th:field="*{phoneNumber}" type="tel" placeholder="+7(___)___-__-__" class="form__number form__input" id="online_phone"
                        pattern="\+7\s?[\(]{0,1}9[0-9]{2}[\)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}" required>
                    <input th:value="${client.getEmail()}" th:field="*{email}" type="email" placeholder="Электронная почта" class="form__email form__input" required>
                    <input id="psw" type="password" th:field="*{password}" placeholder="Пароль" class="form__password form__input" name="psw"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Должен содержать по меньшей мере одну цифру, одну большую и одну маленькую буквы латинского алфавита и быть в длину не менее 8 символов">
                    <input id="psw2" type="password" placeholder="Пароль" class="form__password form__input"
                        oninput="validatePassword()">
                    <button type="submit" class="form__button">
                        Изменить
                    </button>
                </form>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer__parts wrapper">
            <div class="footer__part part1">
                <a th:src="@{/homepage-client}" class="footer__title logo">
                    <img th:src="@{/client/edit-client-page/img/icon/nav_icon/Storefront.svg}" alt="logo">
                    <nav>VIPA</nav>
                </a>
                <p class="footer__text">
                <nav>Присоединяйтесь к нашему сообществу</nav>
                <div class="social">
                    <a th:href="@{null}"><img th:src="@{/client/client-page/img/icon/nav_icon/DiscordLogo.svg}" alt="discord"></a>
                    <a th:href="@{null}"><img th:src="@{/client/client-page/img/icon/nav_icon/YoutubeLogo.svg}" alt="youtube"></a>
                    <a th:href="@{null}"><img th:src="@{/client/client-page/img/icon/nav_icon/TwitterLogo.svg}" alt="twitter"></a>
                    <a th:href="@{null}"><img th:src="@{/client/client-page/img/icon/nav_icon/InstagramLogo.svg}" alt="instagram"></a>
                </div>
                </p>
            </div>
            <div class="footer__part part2">
                <div class="footer__title">
                    <nav>Навигация</nav>
                </div>
                <p class="footer__text">
                <p><a th:href="@{/dialogs/list}">Чаты</a></p>
                <p><a th:href="@{/favorites}">Избранное</a></p>
                <p><a th:href="@{null}">Уведомления</a></p>
                <p><a th:href="@{/cart}">Корзина</a></p>
                <p><a th:href="@{/orders/list}">Заказы</a></p>
                </p>
            </div>
            <div class="footer__part part3">
                <div class="footer__title">
                    <p>Присоединяйтесь к нам</p>
                </div>
                <p class="footer__text">
                    Получайте эксклюзивные акции и обновления прямо в свой почтовый ящик.
                </p>
            </div>
        </div>
    </footer>
</body>

</html>