<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/style.css">
    <title>Create Post</title>
    <script type="text/javascript" src="script/script.js"></script>
</head>

<body class="body">
    <header class="header">
        <a class="header__logo logo" href="homepage.html">
            <img src="img/icon/nav_icon/Storefront.svg" alt="logo">
            <nav>VIPA</nav>
        </a>
        <div class="header__navigation">
            <a href="#" class="header__navigation-item">Чаты</a>
            <a href="#" class="header__navigation-item">Избранные</a>
            <a href="#" class="header__navigation-item">Уведомления</a>
            <a href="#" class="header__navigation-item">Корзина</a>
            <a href="#" class="header__navigation-item">Заказы</a>
            <a href="#" class="header__navigation-item header__navigation-item-last">
                <p>Подать объявление</p>
            </a>
            <div class="header__profile">
                <div class="registration__button registration">
                    <img src="img/icon/nav_icon/User.svg" alt="User">
                    <p class="header__profile-title">Меню</p>
                    <div class="header__links">
                        <a href="#" class="link">Профиль</a>
                        <a href="#" class="link">Чаты</a>
                        <a href="#" class="link">Избранные</a>
                        <a href="#" class="link">Уведомления</a>
                        <a href="#" class="link">Корзина</a>
                        <a href="#" class="link">Заказы</a>
                        <!-- <a href="../log_in/log_in.html" class="link">Войти</a>
                        <a href="../create_account/sign-up-page.html" class="link">Регистрация</a> -->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="post">
        <div class="post__title title">
            <p>Создать объявление</p>
        </div>
        <form class="post__input">
            <div class="post__input-part1">
                <p>Выберите фото товара</p>
                <div class="post__input-img">
                    <input type="file" class="file" multiple required>
                </div>
                <select th:field="*{category}" class="post__input-category">
                    <div th:each="category : ${categories}">
                        <option th:title="${category.getName()}" th:value="${category.getId()}">Name</option>
                    </div>
                </select>
            </div>
            <div class="post__input-part2">
                <div class="post__input-text">
                    <input type="text" placeholder="Название товара" required>
                    <input type="text" placeholder="Ваш адрес" required>
                    <input type="email" placeholder="Адрес эл.почты" required>
                    <input type="number" placeholder="Цена в рублях" required>
                    <textarea placeholder="Описание" required></textarea>
                </div>
                <div class="post__buttons">
                    <button type="submit">Отправить</button>
                    <button type="reset">Очистить</button>
                </div>
            </div>
        </form>
    </div>

    <footer class="footer">
        <div class="footer__parts wrapper">
            <div class="footer__part part1">
                <a href="../../../../../../../../Frontend/homepage/homepage.html" class="footer__title logo">
                    <img src="img/icon/nav_icon/Storefront.svg" alt="logo">
                    <nav>VIPA</nav>
                </a>
                <p class="footer__text">
                <nav></nav>
                <nav>Присоединяйтесь к нашему сообществу</nav>
                <div class="social">
                    <a href="#"><img src="img/icon/nav_icon/DiscordLogo.svg" alt="discord"></a>
                    <a href="#"><img src="img/icon/nav_icon/YoutubeLogo.svg" alt="youtube"></a>
                    <a href="#"><img src="img/icon/nav_icon/TwitterLogo.svg" alt="twitter"></a>
                    <a href="#"><img src="img/icon/nav_icon/InstagramLogo.svg" alt="instagram"></a>
                </div>
                </p>
            </div>
            <div class="footer__part part2">
                <div class="footer__title">
                    <nav>Навигация</nav>
                </div>
                <p class="footer__text">
                <p><a href="#">Чаты</a></p>
                <p><a href="#">Избранные</a></p>
                <p><a href="#">Уведомления</a></p>
                <p><a href="#">Корзина</a></p>
                <p><a href="#">Заказы</a></p>
                </p>
            </div>
            <div class="footer__part part3">
                <div class="footer__title">
                    <p>Присоединяйтесь к нам</p>
                </div>
                <p class="footer__text">
                    Получайте эксклюзивные акции и обновления прямо в свой почтовый ящик.
                </p>
                <!-- <a href="sign-up-page.html" class="footer__registration registration">
                    <img src="img/icon/RocketLaunch.svg" alt="rocket">
                    <p>Начать</p>
                </a> -->
            </div>
        </div>
    </footer>
</body>

</html>