<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-store">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/post/posts-page/style/reset.css}">
    <link rel="stylesheet" th:href="@{/post/posts-page/style/style.css}">
    <title>Cart</title>
</head>

<body class="body">
<header class="header">
    <a class="header__logo logo" th:href="@{/homepage-client}">
        <img th:src="@{/post/posts-page/img/icon/nav_icon/Storefront.svg}" alt="logo">
        <nav>VIPA</nav>
    </a>
    <div class="header__navigation">
        <a th:href="@{/dialogs/list?dialogType=AS_CUSTOMER}" class="header__navigation-item" sec:authorize="hasRole('CLIENT')">Чаты</a>
        <a th:href="@{/favorites}" class="header__navigation-item" sec:authorize="hasRole('CLIENT')">Избранное</a>
<!--        <a th:href="@{null}" class="header__navigation-item" sec:authorize="hasRole('CLIENT')">Уведомления</a>-->
        <a th:href="@{/cart}" class="header__navigation-item" sec:authorize="hasRole('CLIENT')">Корзина</a>
        <a th:href="@{/orders/list}" class="header__navigation-item" sec:authorize="hasRole('CLIENT')">Заказы</a>
        <a th:href="@{/posts/new}" class="header__navigation-item header__navigation-item-last" sec:authorize="hasRole('CLIENT')">
            <p>Подать объявление</p>
        </a>
        <div class="header__profile">
            <div class="registration__button registration">
                <img th:src="@{/post/posts-page/img/icon/nav_icon/User.svg}" alt="User">
                <p class="header__profile-title">Меню</p>
                <div class="header__links">
                    <a th:href="@{/clients/{clientId}(clientId=${#authentication.principal.id})}"
                       class="link">Профиль</a>
                    <a th:href="@{/dialogs/list?dialogType=AS_CUSTOMER}" class="link">Чаты</a>
                    <a th:href="@{/favorites}" class="link">Избранное</a>
<!--                    <a th:href="@{null}" class="link">Уведомления</a>-->
                    <a th:href="@{/cart}" class="link">Корзина</a>
                    <a th:href="@{/orders/list}" class="link">Заказы</a>
                    <form th:action="@{/auth/sign-out}" method="post" class="button_sign-out">
                        <button type="submit" class="link">Выйти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
<form th:action="@{/posts/catalog/search}" class="search wrapper">
    <div class="search__input">
        <input th:name="postTitlePattern" type="text" placeholder="Поиск">
    </div>
    <div class="search__button">
        <button type="submit">
            <p>Найти</p>
            <img th:src="@{/common/homepage-client/img/icon/icons8-поиск.svg}" alt="search">
        </button>
    </div>
</form>
<div class="posts wrapper container">
    <div class="posts__title title">
        <p>Каталог</p>
    </div>
    <div th:each="post : ${posts}" class="posts__items">
        <a th:href="@{/posts/{postId}(postId=${post.getId()})}" class="posts__item">
            <div class="posts__item-img">
                <img th:src="${post.getCoverImagePath()}" alt="" id="image">
            </div>
            <div class="posts__item-info">
                <div class="posts__item-title">
                    <p th:text="${post.getTitle()}"></p>
                </div>
                <div class="posts__item-author">
                    <p th:text="${post.getAuthor().getName() + ' ' + post.getAuthor().getSurname()}"></p>
                </div>
                <div class="posts__item-price">
                    <p th:text="${post.getPrice() + ' '}"></p>
                    <p>₽</p>
                </div>
            </div>
        </a>
    </div>
</div>

<footer class="footer">
    <div class="footer__parts wrapper">
        <div class="footer__part part1">
            <a th:href="@{/homepage-client}" class="footer__title logo">
                <img th:src="@{/cart/cart-page/img/icon/nav_icon/Storefront.svg}" alt="logo">
                <nav>VIPA</nav>
            </a>
            <p class="footer__text">
            <nav>Присоединяйтесь к нашему сообществу</nav>
            <div class="social">
                <a th:href="@{null}"><img th:src="@{/cart/cart-page/img/icon/nav_icon/DiscordLogo.svg}"
                                          alt="discord"></a>
                <a th:href="@{null}"><img th:src="@{/cart/cart-page/img/icon/nav_icon/YoutubeLogo.svg}"
                                          alt="youtube"></a>
                <a th:href="@{null}"><img th:src="@{/cart/cart-page/img/icon/nav_icon/TwitterLogo.svg}"
                                          alt="twitter"></a>
                <a th:href="@{null}"><img th:src="@{/cart/cart-page/img/icon/nav_icon/InstagramLogo.svg}"
                                          alt="instagram"></a>
            </div>
            </p>
        </div>
        <div class="footer__part part2">
            <div class="footer__title">
                <nav>Навигация</nav>
            </div>
            <p class="footer__text">
            <p><a th:href="@{/dialogs/list}" sec:authorize="hasRole('CLIENT')">Чаты</a></p>
            <p><a th:href="@{/favorites}" sec:authorize="hasRole('CLIENT')">Избранное</a></p>
<!--            <p><a th:href="@{null}" sec:authorize="hasRole('CLIENT')">Уведомления</a></p>-->
            <p><a th:href="@{/cart}" sec:authorize="hasRole('CLIENT')">Корзина</a></p>
            <p><a th:href="@{/orders/list}" sec:authorize="hasRole('CLIENT')">Заказы</a></p>
            </p>
        </div>
        <div class="footer__part part3">
            <div class="footer__title">
                <p>Присоединяйтесь к нам</p>
            </div>
            <p class="footer__text">
                Получайте эксклюзивные акции и обновления прямо в свой почтовый ящик.
            </p>
        </div>
    </div>
</footer>
</body>

</html>