<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/post/post-page/style/reset.css">
    <link rel="stylesheet" href="../../static/post/post-page/style/style.css">
    <title>Post page</title>
</head>

<body class="body">
    <header class="header">
        <a class="header__logo logo" href="homepage.html">
            <img src="../../static/post/post-page/img/icon/nav_icon/Storefront.svg" alt="logo">
            <nav>VIPA</nav>
        </a>
        <div class="header__navigation">
            <a href="#" class="header__navigation-item">Чаты</a>
            <a href="#" class="header__navigation-item">Избранные</a>
            <a href="#" class="header__navigation-item">Уведомления</a>
            <a href="#" class="header__navigation-item">Корзина</a>
            <a href="#" class="header__navigation-item">Заказы</a>
            <a href="#" class="header__navigation-item header__navigation-item-last">
                <p>Подать объявление</p>
            </a>
            <div class="header__profile">
                <div class="registration__button registration">
                    <img src="../../static/post/post-page/img/icon/nav_icon/User.svg" alt="User">
                    <p class="header__profile-title">Меню</p>
                    <div class="header__links">
                        <a href="#" class="link">Профиль</a>
                        <a href="#" class="link">Чаты</a>
                        <a href="#" class="link">Избранные</a>
                        <a href="#" class="link">Уведомления</a>
                        <a href="#" class="link">Корзина</a>
                        <a href="#" class="link">Заказы</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="profile wrapper">
        <div class="profile__title title">
            <p>Название товара</p>
        </div>
        <div class="profile__info">
            <div class="bio__info">
                <div class="bio__price">
                    <p>1000 рублей</p>
                </div>
                <div class="bio__date">
                    <p>Дата публикации</p>
                    <p>Дата публикации</p>
                </div>
                <div class="bio__address">
                    <p>Адрес</p>
                    <p>Адрес</p>
                </div>
                <div class="bio__post-author">
                    <p>Почта автора поста</p>
                    <p>Почта автора поста</p>
                </div>
                <div class="bio__discription">
                    <p>Описание</p>
                    <p>Описание</p>
                </div>
                <div class="bio__category">
                    <p>Категория</p>
                    <p>Категория</p>
                </div>
            </div>
            <div class="profile__setting">
                <div class="setting__buttons">
                    <div class="setting__data">
                        <button href="">В избранные</button>
                    </div>
                    <div class="setting__delete">
                        <button href="">В корзину</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="posts wrapper">
        <div class="posts__title title">
            <p>Фотографии</p>
        </div>
        <div class="posts__items">
            <div class="posts__item">
                <div class="posts__item-img">
                    <img src="../../static/post/post-page/img/image_/Primary%20Photo%20Placeholder-1.png" alt="" id="image">
                </div>
            </div>
            <div class="posts__item">
                <div class="posts__item-img">
                    <img src="../../static/post/post-page/img/image_/Primary%20Photo%20Placeholder-2.png" alt="">
                </div>
            </div>
            <div class="posts__item">
                <div class="posts__item-img">
                    <img src="../../static/post/post-page/img/image_/Primary%20Photo%20Placeholder.png" alt="">
                </div>
            </div>
            <div class="posts__item">
                <div class="posts__item-img">
                    <img src="../../static/post/post-page/img/image_/Primary%20Photo%20Placeholder.png" alt="">
                </div>
            </div>
            <div class="posts__item">
                <div class="posts__item-img">
                    <img src="../../static/post/post-page/img/image_/Primary%20Photo%20Placeholder-1.png" alt="">
                </div>
            </div>
            <div class="posts__item">
                <div class="posts__item-img">
                    <img src="../../static/post/post-page/img/image_/Primary%20Photo%20Placeholder-2.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer__parts wrapper">
            <div class="footer__part part1">
                <a href="homepage.html" class="footer__title logo">
                    <img src="../../static/post/post-page/img/icon/nav_icon/Storefront.svg" alt="logo">
                    <nav>VIPA</nav>
                </a>
                <p class="footer__text">
                <nav>Присоединяйтесь к нашему сообществу</nav>
                <div class="social">
                    <a href="#"><img src="../../static/post/post-page/img/icon/nav_icon/DiscordLogo.svg" alt="discord"></a>
                    <a href="#"><img src="../../static/post/post-page/img/icon/nav_icon/YoutubeLogo.svg" alt="youtube"></a>
                    <a href="#"><img src="../../static/post/post-page/img/icon/nav_icon/TwitterLogo.svg" alt="twitter"></a>
                    <a href="#"><img src="../../static/post/post-page/img/icon/nav_icon/InstagramLogo.svg" alt="instagram"></a>
                </div>
                </p>
            </div>
            <div class="footer__part part2">
                <div class="footer__title">
                    <nav>Навигация</nav>
                </div>
                <p class="footer__text">
                <p><a href="#">Чаты</a></p>
                <p><a href="#">Избранные</a></p>
                <p><a href="#">Уведомления</a></p>
                <p><a href="#">Корзина</a></p>
                <p><a href="#">Заказы</a></p>
                </p>
            </div>
            <div class="footer__part part3">
                <div class="footer__title">
                    <p>Присоединяйтесь к нам</p>
                </div>
                <p class="footer__text">
                    Получайте эксклюзивные акции и обновления прямо в свой почтовый ящик.
                </p>
                <!-- <a href="../create_account/create_account.html" class="footer__registration registration">
                    <img src="img/icon/RocketLaunch.svg" alt="rocket">
                    <p>Начать</p>
                </a> -->
            </div>
        </div>
    </footer>
</body>

</html>