<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/style.css">
    <title>Create Account</title>
    <script src="script/script.js"></script>
</head>

<body class="body">
    <header class="header">
        <a class="header__logo logo" href="homepage.html">
            <img src="img/icon/nav_icon/Storefront.svg" alt="logo">
            <nav>VIPA</nav>
        </a>
        <div class="header__navigation">
            <div class="header__profile">
                <div class="registration__button registration">
                    <img src="img/icon/nav_icon/User.svg" alt="User">
                    <p class="header__profile-title">Меню</p>
                    <div class="header__links">
                        <a href="#" class="link">Регистрация</a>
                        <a href="#" class="link">Вход</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="create wrapper">
        <div class="create__title title">
            <p>Создать аккаунт</p>
        </div>
        <div class="create__text text">
            <p>Добро пожаловать! Введите свои данные и начните торговать!</p>
        </div>
        <div class="create__form">
            <form action="create" class="create__form-form form__input">
                <input type="text" placeholder="Имя" class="form__name form__input" required>
                <input type="text" placeholder="Фамилия" class="form__surname form__input" required>
                <input type="date" class="form__birthdate form__input" required>
                <input type="tel" placeholder="+7(___)___-__-__" class="form__number form__input" id="online_phone"
                    pattern="\+7\s?[\(]{0,1}9[0-9]{2}[\)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}" required>
                <input type="email" placeholder="Электронная почта" class="form__email form__input" required>
                <input id="psw" type="text" placeholder="Пароль" class="form__password form__input" name="psw"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Должен содержать по меньшей мере одну цифру, одну большую и одну маленькую буквы латинского алфавита и быть в длину не менее 8 символов"
                    required>
                <input id="psw2" type="text" placeholder="Пароль" class="form__password form__input" required
                    oninput="validatePassword()">
                <button type="submit" class="form__button">
                    Начать
                </button>
            </form>
        </div>
    </div>

    <footer class="footer">
        <div class="footer__parts wrapper">
            <div class="footer__part part1">
                <a href="homepage.html" class="footer__title logo">
                    <img src="img/icon/nav_icon/Storefront.svg" alt="logo">
                    <nav>VIPA</nav>
                </a>
                <p class="footer__text">
                <nav>Присоединяйтесь к нашему сообществу</nav>
                <div class="social">
                    <a href="#"><img src="img/icon/nav_icon/DiscordLogo.svg" alt="discord"></a>
                    <a href="#"><img src="img/icon/nav_icon/YoutubeLogo.svg" alt="youtube"></a>
                    <a href="#"><img src="img/icon/nav_icon/TwitterLogo.svg" alt="twitter"></a>
                    <a href="#"><img src="img/icon/nav_icon/InstagramLogo.svg" alt="instagram"></a>
                </div>
                </p>
            </div>
            <div class="footer__part part3">
                <div class="footer__title">
                    <p>Присоединяйтесь к нам</p>
                </div>
                <p class="footer__text">
                    Получайте эксклюзивные акции и обновления прямо в свой почтовый ящик.
                </p>
                <a href="../create_account/create_account.html" class="footer__registration registration">
                    <img src="img/icon/RocketLaunch.svg" alt="rocket">
                    <p>Начать</p>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>