@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
:root {
  --font-family: "Space Mono", sans-serif;
  --second-family: "Work Sans", sans-serif;
}

.body {
  background-color: #2b2b2b;
  font-family: var(--second-family);
  color: #fff;
}

.wrapper {
  max-width: 1050px;
  margin: 0 auto;
}
.container {
  min-height: 100%;
}

.title {
  padding: 5px;
  font-weight: 600;
  font-size: 38px;
}

.header {
  background-color: #2b2b2b;
  opacity: 0.8;
  width: 100%;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}

.header__logo {
  margin: 20px;
}

.logo {
  font-family: var(--font-family);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  transition: 0.3s;
}

.logo:hover {
  color: #9c9c9c;
}

.header__navigation {
  display: flex;
  align-items: center;
}
.header__navigation .header__navigation-item {
  padding: 12px 20px;
  margin: 5px;
  transition: 0.3s;
}

.header__navigation-item:hover {
  color: #ccc;
}

.header__navigation-item-last {
  padding: -50px;
  font-weight: 600;
  border-radius: 20px;
  background-color: #a259ff;
}
.header__navigation-item-last p {
  padding: 8px;
}

.header__navigation-item-last:hover {
  background-color: #7110f0;
}

.header__navigation-item {
  position: relative;
  display: inline-block;
}

.header__profile {
  margin: 0 10px 0 0;
}

.header__profile-title {
  padding: 0 12px;
  cursor: pointer;
}

.registration__button {
  position: relative;
  display: inline-block;
  transition: 0.3s;
}

.registration__button:hover {
  border-radius: 20px 20px 0 0;
}
.registration__button:hover .header__links {
  display: block;
  opacity: 1;
}

.header__links {
  display: none;
  opacity: 0;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #3b3b3b;
  min-width: 160px;
  z-index: 1;
  transition: opacity 1s;
  border-radius: 0 0 20px 20px;
}

.link {
  display: block;
  color: #fff;
  padding: 12px 16px;
  transition: 0.3s;
}

.link:hover {
  color: #9c9c9c;
}
.button_sign-out{
  color: #fff;
  border-radius: 0 0 20px 20px;
  background-color: #f71c1c;
}
.button_sign-out button{
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  background-color: #f71c1c;
  border-radius: 0 0 20px 20px;
  padding: 12px 92px 12px 16px;
  transition: 0.3s;
}
.button_sign-out button:hover{
  text-decoration: line-through;
  background-color: #cf0505;
}

.registration {
  display: flex;
  font-weight: 600;
  padding: 20px 30px;
  background-color: #a259ff;
  border-radius: 20px;
  transition: 0.3s;
}
.registration img {
  margin: -10px 5px;
}

.registration:hover {
  background-color: #832ff1;
}

.posts {
  margin: 120px auto 20px auto;
}

.posts__title {
  text-align: center;
  margin: 0 0 20px 0;
}

.posts__items {
  display: inline-block;
  margin: 3px;
  text-wrap: nowrap;
  text-overflow: clip;
  word-wrap: break-word;
}

.posts__item {
  position: relative;
  box-sizing: content-box;
  max-width: 330px;
  background-color: #3b3b3b;
  border-radius: 23px;
  padding: 0 0 0px 0;
  border: 4px solid #2b2b2b;
  transition: 0.3s;
}

.posts__item:hover {
  border: 4px solid #7110f0;
  color: #9c9c9c;
}

.posts__item-img {
  display: inline-block;
  box-sizing: content-box;
  max-width: 330px;
  background-color: #3b3b3b;
  border-radius: 23px;
  margin: 0 auto;
}
.posts__item-img img {
  border-radius: 20px;
  width: 330px;
  height: 330px;
  object-fit: cover;
}

.posts__item-info {
  padding: 15px 20px 0 20px;
}

.posts__item-title {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 5px 0;
}

.posts__item-author {
  margin: 0 0 25px 0;
}

.posts__item-price {
  display: flex;
  margin: 0 0 20px 0;
}
.posts__item-price p {
  margin: 0 1% 0 0;
}

.post__pay-button {
  margin: 0 auto 0px auto;
}
.post__pay-button button {
  width: 100%;
  font-size: 20px;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  background-color: #a259ff;
  transition: 0.3s;
}

.post__pay-button button:hover {
  color: #9c9c9c;
  background-color: #832ff1;
}

.footer {
  background-color: #3b3b3b;
  padding: 0 0 10px 0;
}

.footer__parts {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.footer__part {
  max-width: 240px;
}

.footer__title {
  font-family: var(--font-family);
  font-size: 24px;
  margin: 0 0 30px 0;
}

.social {
  margin: 25px 0 0 0;
  display: flex;
}
.social a {
  margin: 0 5px 0 0;
  transition: 0.3s;
}
.social a img {
  padding: 5px;
}
.social a:hover {
  border-radius: 10px;
  background-color: #7110f0;
}

.footer__registration {
  width: 44%;
}

.part2 p {
  margin: 0 0 10px 0;
  transition: 0.3s;
}
.part2 p:hover {
  color: #9c9c9c;
}

.part3 {
  max-width: 350px;
}