<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/style.css">
    <title>Homepage</title>
</head>

<body class="body">
    <header class="header">
        <a class="header__logo logo" href="homepage.html">
            <img src="img/icon/nav_icon/Storefront.svg" alt="logo">
            <nav>VIPA</nav>
        </a>
        <div class="header__navigation">
            <!-- <a href="#" class="header__navigation-item">Marketplace</a> -->
            <a href="#" class="header__navigation-item">Войти</a>
            <a href="#" class="header__navigation-item">Регистрация</a>
            <div class="header__profile">
                <div class="registration__button registration">
                    <img src="img/icon/nav_icon/User.svg" alt="User">
                    <p class="header__profile-title">Меню</p>
                    <div class="header__links">
                        <a href="../../../../../../../../Frontend/log_in/log_in.html" class="link">Войти</a>
                        <a href="../create_account/create_account.html" class="link">Регистрация</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main wrapper">
        <div class="main__info">
            <h1 class="main__title">
                Место хороших сделок
            </h1>
            <p class="main__text text">
            <nav>Интернет - магазин для ваших товаров</nav>
            <nav>Найдите более миллиона пользователей, заинтересованных в ваших товарах</nav>
            </p>
            <div class="main__button">
                <a href="../create_account/create_account.html" class="registration">
                    <img src="img/icon/RocketLaunch.svg" alt="rocket">
                    <p>Начать</p>
                </a>
            </div>
            <div class="main__characteristic">
                <div class="main__characteristic-item">
                    <p class="haracteristic__number">600M+</p>
                    <p class="haracteristic__text">Капитализация</p>
                </div>
                <div class="main__characteristic-item">
                    <p class="haracteristic__number">15M+</p>
                    <p class="haracteristic__text">Объявлений</p>
                </div>
                <div class="main__characteristic-item">
                    <p class="haracteristic__number">3M+</p>
                    <p class="haracteristic__text">Пользователей</p>
                </div>
            </div>
        </div>
        <div class="main__image">
            <img src="img/image_/photo_2024-11-05_20-01-48.jpg" alt="sale__img">
        </div>
    </div>
    <!-- <div class="category wrapper">
        <div class="category__title title">
            <p>Browse Categories</p>
        </div>
        <div class="category__buttons">
            <a href="#" class="category__item">
                <img src="img/icon/PaintBrush.svg" alt="art" class="category__item-image">
                <p class="category__item-title">Art</p>
            </a>
            <a href="#" class="category__item">
                <img src="img/icon/Swatches.svg" alt="collectibles" class="category__item-image">
                <p class="category__item-title">Collectibles</p>
            </a>
            <a href="#" class="category__item">
                <img src="img/icon/MusicNotes.svg" alt="music" class="category__item-image">
                <p class="category__item-title">Music</p>
            </a>
            <a href="#" class="category__item">
                <img src="img/icon/Camera.svg" alt="photography" class="category__item-image">
                <p class="category__item-title">Photography</p>
            </a>
            <a href="#" class="category__item">
                <img src="img/icon/VideoCamera.svg" alt="video" class="category__item-image">
                <p class="category__item-title">Video</p>
            </a>
            <a href="#" class="category__item">
                <img src="img/icon/MagicWand.svg" alt="utility" class="category__item-image">
                <p class="category__item-title">Utility</p>
            </a>
            <a href="#" class="category__item">
                <img src="img/icon/Basketball.svg" alt="sport" class="category__item-image">
                <p class="category__item-title">Sport</p>
            </a>
            <a href="#" class="category__item">
                <img src="img/icon/Planet.svg" alt="world" class="category__item-image">
                <p class="category__item-title">Virtual Worlds</p>
            </a>
        </div>
    </div> -->
    <div class="how-work wrapper">
        <div class="how-work__title title">
            <p>Как это работает</p>
        </div>
        <div class="how-work__text text">
            <p>Узнайте, как начать</p>
        </div>
        <div class="how-work__cards">
            <div class="how-work__card">
                <img src="img/icon/Icon.svg" alt="wallet" class="card__img">
                <p class="card__title">Регистрируйтесь</p>
                <p class="card__text">Создайте и подключите свой аккаунт к VIPA, нажав на кнопку "Регистрация".</p>
            </div>
            <div class="how-work__card">
                <img src="img/icon/Icon-1.svg" alt="wallet" class="card__img">
                <p class="card__title">Создайте объявление</p>
                <p class="card__text">Загрузите фотографию товара. Добавьте описание, контактные данные, желаемую цену.
                </p>
            </div>
            <div class="how-work__card">
                <img src="img/icon/Icon-2.svg" alt="wallet" class="card__img">
                <p class="card__title">Начните торговать</p>
                <p class="card__text">Выберите категорию настройте фильтры объявлений. Торгуйтесь, продая свои
                    товары или покупая желаемое у других.</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer__parts wrapper">
            <div class="footer__part part1">
                <a href="homepage.html" class="footer__title logo">
                    <img src="img/icon/nav_icon/Storefront.svg" alt="logo">
                    <nav>VIPA</nav>
                </a>
                <p class="footer__text">
                <nav>Присоединяйтесь к нашему сообществу</nav>
                <div class="social">
                    <a href="#"><img src="img/icon/nav_icon/DiscordLogo.svg" alt="discord"></a>
                    <a href="#"><img src="img/icon/nav_icon/YoutubeLogo.svg" alt="youtube"></a>
                    <a href="#"><img src="img/icon/nav_icon/TwitterLogo.svg" alt="twitter"></a>
                    <a href="#"><img src="img/icon/nav_icon/InstagramLogo.svg" alt="instagram"></a>
                </div>
                </p>
            </div>
            <!-- <div class="footer__part part2">
                <div class="footer__title">
                    <nav>Навигация</nav>
                </div>
                <p class="footer__text">
                <p><a href="#">Объявления</a></p>
                <p><a href="#">Чаты</a></p>
                <p><a href="#">Корзина</a></p>
                </p>
            </div> -->
            <div class="footer__part part3">
                <div class="footer__title">
                    <p>Присоединяйтесь к нам</p>
                </div>
                <p class="footer__text">
                    Получайте эксклюзивные акции и обновления прямо в свой почтовый ящик.
                </p>
                <a href="../create_account/create_account.html" class="footer__registration registration">
                    <img src="img/icon/RocketLaunch.svg" alt="rocket">
                    <p>Начать</p>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>